[submodule "chmlib"]
	path = chmlib
	url = https://github.com/NSGod/chmlib.git
	branch = develop
[submodule "CHMSpotlightImporter"]
	path = CHMSpotlightImporter
	url = https://github.com/NSGod/Spotlight-CHM-importer.git
[submodule "PSMTabBarControl"]
	path = PSMTabBarControl
	url = https://github.com/NSGod/PSMTabBarControl.git
[submodule "CHMQuickLook"]
	path = CHMQuickLook
	url = https://github.com/NSGod/QuickCHM.git
