<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3dml</key>
	<string>text/vnd.in3d.3dml</string>
	<key>3ds</key>
	<string>image/x-3ds</string>
	<key>3g2</key>
	<string>video/3gpp2</string>
	<key>3gp</key>
	<string>video/3gpp</string>
	<key>aac</key>
	<string>audio/x-aac</string>
	<key>ai</key>
	<string>application/postscript</string>
	<key>aif</key>
	<string>audio/x-aiff</string>
	<key>aifc</key>
	<string>audio/x-aiff</string>
	<key>aiff</key>
	<string>audio/x-aiff</string>
	<key>asf</key>
	<string>video/x-ms-asf</string>
	<key>asx</key>
	<string>video/x-ms-asf</string>
	<key>avi</key>
	<string>video/x-msvideo</string>
	<key>bdf</key>
	<string>application/x-font-bdf</string>
	<key>bmp</key>
	<string>image/bmp</string>
	<key>btif</key>
	<string>image/prs.btif</string>
	<key>caf</key>
	<string>audio/x-caf</string>
	<key>cgm</key>
	<string>image/cgm</string>
	<key>chm</key>
	<string>application/vnd.ms-htmlhelp</string>
	<key>cmx</key>
	<string>image/x-cmx</string>
	<key>conf</key>
	<string>text/plain</string>
	<key>css</key>
	<string>text/css</string>
	<key>csv</key>
	<string>text/csv</string>
	<key>dae</key>
	<string>model/vnd.collada+xml</string>
	<key>def</key>
	<string>text/plain</string>
	<key>djv</key>
	<string>image/vnd.djvu</string>
	<key>djvu</key>
	<string>image/vnd.djvu</string>
	<key>dtd</key>
	<string>application/xml-dtd</string>
	<key>dwg</key>
	<string>image/vnd.dwg</string>
	<key>dxf</key>
	<string>image/vnd.dxf</string>
	<key>eps</key>
	<string>application/postscript</string>
	<key>f4v</key>
	<string>video/x-f4v</string>
	<key>flac</key>
	<string>audio/x-flac</string>
	<key>fli</key>
	<string>video/x-fli</string>
	<key>flv</key>
	<string>video/x-flv</string>
	<key>flx</key>
	<string>text/vnd.fmi.flexstor</string>
	<key>fly</key>
	<string>text/vnd.fly</string>
	<key>fpx</key>
	<string>image/vnd.fpx</string>
	<key>fst</key>
	<string>image/vnd.fst</string>
	<key>g3</key>
	<string>image/g3fax</string>
	<key>gif</key>
	<string>image/gif</string>
	<key>gml</key>
	<string>application/gml+xml</string>
	<key>gpx</key>
	<string>application/gpx+xml</string>
	<key>gv</key>
	<string>text/vnd.graphviz</string>
	<key>gxf</key>
	<string>application/gxf</string>
	<key>h261</key>
	<string>video/h261</string>
	<key>h263</key>
	<string>video/h263</string>
	<key>h264</key>
	<string>video/h264</string>
	<key>htm</key>
	<string>text/html</string>
	<key>html</key>
	<string>text/html</string>
	<key>ico</key>
	<string>image/x-icon</string>
	<key>ief</key>
	<string>image/ief</string>
	<key>in</key>
	<string>text/plain</string>
	<key>jp2</key>
	<string>image/jp2</string>
	<key>jpe</key>
	<string>image/jpeg</string>
	<key>jpeg</key>
	<string>image/jpeg</string>
	<key>jpg</key>
	<string>image/jpeg</string>
	<key>jpgm</key>
	<string>video/jpm</string>
	<key>jpgv</key>
	<string>video/jpeg</string>
	<key>jpm</key>
	<string>video/jpm</string>
	<key>js</key>
	<string>application/javascript</string>
	<key>json</key>
	<string>application/json</string>
	<key>jsonml</key>
	<string>application/jsonml+json</string>
	<key>kar</key>
	<string>audio/midi</string>
	<key>ktx</key>
	<string>image/ktx</string>
	<key>list</key>
	<string>text/plain</string>
	<key>log</key>
	<string>text/plain</string>
	<key>m1v</key>
	<string>video/mpeg</string>
	<key>m2a</key>
	<string>audio/mpeg</string>
	<key>m2v</key>
	<string>video/mpeg</string>
	<key>m3a</key>
	<string>audio/mpeg</string>
	<key>m3u</key>
	<string>audio/x-mpegurl</string>
	<key>m4a</key>
	<string>audio/mp4</string>
	<key>m4u</key>
	<string>video/vnd.mpegurl</string>
	<key>m4v</key>
	<string>video/x-m4v</string>
	<key>mathml</key>
	<string>application/mathml+xml</string>
	<key>mbox</key>
	<string>application/mbox</string>
	<key>mid</key>
	<string>audio/midi</string>
	<key>midi</key>
	<string>audio/midi</string>
	<key>mj2</key>
	<string>video/mj2</string>
	<key>mjp2</key>
	<string>video/mj2</string>
	<key>mk3d</key>
	<string>video/x-matroska</string>
	<key>mka</key>
	<string>audio/x-matroska</string>
	<key>mks</key>
	<string>video/x-matroska</string>
	<key>mkv</key>
	<string>video/x-matroska</string>
	<key>mmr</key>
	<string>image/vnd.fujixerox.edmics-mmr</string>
	<key>mng</key>
	<string>video/x-mng</string>
	<key>mov</key>
	<string>video/quicktime</string>
	<key>movie</key>
	<string>video/x-sgi-movie</string>
	<key>mp2</key>
	<string>audio/mpeg</string>
	<key>mp2a</key>
	<string>audio/mpeg</string>
	<key>mp3</key>
	<string>audio/mpeg</string>
	<key>mp4</key>
	<string>video/mp4</string>
	<key>mp4a</key>
	<string>audio/mp4</string>
	<key>mp4v</key>
	<string>video/mp4</string>
	<key>mpe</key>
	<string>video/mpeg</string>
	<key>mpeg</key>
	<string>video/mpeg</string>
	<key>mpg</key>
	<string>video/mpeg</string>
	<key>mpg4</key>
	<string>video/mp4</string>
	<key>mpga</key>
	<string>audio/mpeg</string>
	<key>mxml</key>
	<string>application/xv+xml</string>
	<key>mxu</key>
	<string>video/vnd.mpegurl</string>
	<key>oga</key>
	<string>audio/ogg</string>
	<key>ogg</key>
	<string>audio/ogg</string>
	<key>ogv</key>
	<string>video/ogg</string>
	<key>opf</key>
	<string>application/oebps-package+xml</string>
	<key>otf</key>
	<string>application/x-font-otf</string>
	<key>pbm</key>
	<string>image/x-portable-bitmap</string>
	<key>pct</key>
	<string>image/x-pict</string>
	<key>pcx</key>
	<string>image/x-pcx</string>
	<key>pdf</key>
	<string>application/pdf</string>
	<key>pfr</key>
	<string>application/font-tdpfr</string>
	<key>pgm</key>
	<string>image/x-portable-graymap</string>
	<key>pic</key>
	<string>image/x-pict</string>
	<key>png</key>
	<string>image/png</string>
	<key>pnm</key>
	<string>image/x-portable-anymap</string>
	<key>ppm</key>
	<string>image/x-portable-pixmap</string>
	<key>ps</key>
	<string>application/postscript</string>
	<key>psd</key>
	<string>image/vnd.adobe.photoshop</string>
	<key>pyv</key>
	<string>video/vnd.ms-playready.media.pyv</string>
	<key>qt</key>
	<string>video/quicktime</string>
	<key>ra</key>
	<string>audio/x-pn-realaudio</string>
	<key>ram</key>
	<string>audio/x-pn-realaudio</string>
	<key>ras</key>
	<string>image/x-cmu-raster</string>
	<key>rgb</key>
	<string>image/x-rgb</string>
	<key>rlc</key>
	<string>image/vnd.fujixerox.edmics-rlc</string>
	<key>rmi</key>
	<string>audio/midi</string>
	<key>rmp</key>
	<string>audio/x-pn-realaudio-plugin</string>
	<key>rtf</key>
	<string>application/rtf</string>
	<key>sgi</key>
	<string>image/sgi</string>
	<key>sgm</key>
	<string>text/sgml</string>
	<key>sgml</key>
	<string>text/sgml</string>
	<key>sid</key>
	<string>image/x-mrsid-image</string>
	<key>smv</key>
	<string>video/x-smv</string>
	<key>spx</key>
	<string>audio/ogg</string>
	<key>svg</key>
	<string>image/svg+xml</string>
	<key>svgz</key>
	<string>image/svg+xml</string>
	<key>text</key>
	<string>text/plain</string>
	<key>tga</key>
	<string>image/x-tga</string>
	<key>tif</key>
	<string>image/tiff</string>
	<key>tiff</key>
	<string>image/tiff</string>
	<key>ttc</key>
	<string>application/x-font-ttf</string>
	<key>ttf</key>
	<string>application/x-font-ttf</string>
	<key>txt</key>
	<string>text/plain</string>
	<key>vcard</key>
	<string>text/vcard</string>
	<key>vcf</key>
	<string>text/x-vcard</string>
	<key>vcs</key>
	<string>text/x-vcalendar</string>
	<key>vob</key>
	<string>video/x-ms-vob</string>
	<key>wav</key>
	<string>audio/x-wav</string>
	<key>wax</key>
	<string>audio/x-ms-wax</string>
	<key>wbmp</key>
	<string>image/vnd.wap.wbmp</string>
	<key>weba</key>
	<string>audio/webm</string>
	<key>webm</key>
	<string>video/webm</string>
	<key>webp</key>
	<string>image/webp</string>
	<key>wm</key>
	<string>video/x-ms-wm</string>
	<key>wma</key>
	<string>audio/x-ms-wma</string>
	<key>wmv</key>
	<string>video/x-ms-wmv</string>
	<key>wmx</key>
	<string>video/x-ms-wmx</string>
	<key>woff</key>
	<string>application/font-woff</string>
	<key>wvx</key>
	<string>video/x-ms-wvx</string>
	<key>xbm</key>
	<string>image/x-xbitmap</string>
	<key>xht</key>
	<string>application/xhtml+xml</string>
	<key>xhtml</key>
	<string>application/xhtml+xml</string>
	<key>xhvml</key>
	<string>application/xv+xml</string>
	<key>xif</key>
	<string>image/vnd.xiff</string>
	<key>xm</key>
	<string>audio/xm</string>
	<key>xml</key>
	<string>application/xml</string>
	<key>xop</key>
	<string>application/xop+xml</string>
	<key>xpl</key>
	<string>application/xproc+xml</string>
	<key>xpm</key>
	<string>image/x-xpixmap</string>
	<key>xsl</key>
	<string>application/xml</string>
	<key>xslt</key>
	<string>application/xslt+xml</string>
	<key>xspf</key>
	<string>application/xspf+xml</string>
	<key>xvm</key>
	<string>application/xv+xml</string>
	<key>xvml</key>
	<string>application/xv+xml</string>
	<key>xwd</key>
	<string>image/x-xwindowdump</string>
	<key>zip</key>
	<string>application/zip</string>
</dict>
</plist>
